.footer-absolute{
    background: #416E9F;
}
.footer-absolute span{
    opacity: 0.45;
}
.footer-1{
    background-image: linear-gradient(to bottom, #065696, #538bc9);
}
.footer-1 .item{
    display: block;
    margin-top: 15px;
    font-size: 15px;
    transition: all 0.4s;
}
.footer-1 .item:hover{
    color: rgba(255,255,255,.5);
}
.icon-ft1{
    display: inline-block;
    width: 48px;
    object-fit: cover;
}
.icon-ft2{
    display: inline-block;
    height: 48px;
    object-fit: cover;
}
.icon-ft3{
    display: inline-block;
    height: 48px;
    object-fit: cover;
}

.icon-ft4{
    display: inline-block;
    height: 36px;
    object-fit: cover;
    margin-right: 5px;
}
.wrap-logo{
    width: 150px;
}
@media only screen and (max-width:991px){
    .icon-ft1{
        width: 32px;
    }
    .icon-ft2{
        height: 32px;
    }
    .icon-ft3{
        height: 32px;
    }
    .icon-ft4{
        height: 32px;
    }
    .icon-ft5{
        width: 100px;
    }
    .footer-1 .item{
        font-size: 12px;
    }
    .footer-1 strong{
        font-size: 14px;
    }
}