.style-0 .owl-dots button{
    width: 24px;
    height: 4px;
    opacity: 0.3;
    background-color: #444f5e;
    margin-right: 10px;
}
.style-0 .owl-dots button.active{
    opacity: 1;
}
.style-0 .owl-dots{
    margin-top: 20px;
    text-align: center;
}
.img-wrap{
    height: 220px;
}
.img-wrap img{
    transition: all 0.4s;

}
.img-wrap img:hover{
    box-shadow: 0 15px 20px 0px rgba(68, 79, 94, 0.2);
}
/*-----------------------------*/
.slide-style-1 .owl-nav button{
    top: 5px;
    left: 0;
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    margin: 0px 30px;
}
.slide-style-1 .owl-nav button span{
    background: none;
}
.slide-style-1 .owl-nav{
    text-align: center;
}
.resPosSlide{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    text-align: center;
}
.resPosSlide span{
    font-size: 12px;
    color: #9EA3AB;
}
.resPosSlide span>strong{
    font-size: 16px;
    color: #444f5e;
    margin-right: 2px;
}
.wrap-info{
    position: relative;
    top: 0;
    transition: all 0.4s;
    display: inline-block;
    margin-top: 20px;
}
.wrap-info p, .wrap-info strong{
    transition: all 0.4s;
}
.wrap-info:hover{
    top: -20px;
}
.wrap-info:hover strong{
    color: #2abce7;
}
.wrap-info:hover p{
    color: #2abce7;
}
/* ----- ----- ----- */

.slide-style-2 .owl-nav button.owl-next{
    position: absolute;
    right: -60px!important;
    top: 50%;
    transform: translate(0%,-75%);
}
.slide-style-2 .owl-nav button.owl-prev{
    position: absolute;
    left: -60px!important;
    top: 50%;
    transform: translate(0%,-75%);
}
.slide-style-2 .owl-nav button span{
    height: 40px!important;
    width: 40px!important;
    display: block;
    border-radius: 50%;
    padding: 0;
}
.slide-style-2 .item{
    width: 200px;
}

.wrap-vir-btn button.owl-next{
    position: absolute;
    right: -60px!important;
    top: 125px;
    transform: translate(0px,-75%);
    z-index: 9;
}
.wrap-vir-btn button.owl-prev{
    position: absolute;
    left: -60px!important;
    top: 125px;
    transform: translate(0px,-75%);
    z-index: 9;
}
.wrap-vir-btn button span{
    height: 40px!important;
    width: 40px!important;
    display: block;
    border-radius: 50%;
    padding: 0;
    font-size: 25px;
    background: rgba(0,0,0,.1);
    color: #989BA0;
}
.wrap-vir-btn button{
    border: none;
    background: none;
}
@media only screen and (max-width:991px){
    .img-wrap{
        height: 100%;
    }
    /*----------cert-mb---------*/
    #cert-mb .owl-item {
        transform: scale(2,2);

    }
    #cert-mb .owl-item .item,
    #cert-mb .owl-item .item img{
        height: 100%;
    }
    #cert-mb .active .item{
        position: relative;
        transform: translateX(-60%);
    }
    #cert-mb .center .item{
        transform: translateX(0%);
    }
    #cert-mb .center~.active .item{
        transform: translateX(60%);
    }
    #cert-mb .owl-stage{
        height: 120px;
        padding-top: 30px;
    }
    /*----------partner-mb---------*/
    #partner-mb .owl-item {
        transform: scale(1.5,1.5);

    }
    #partner-mb .owl-item .item,
    #partner-mb .owl-item .item img{
        height: 100%;
    }
    #partner-mb .active .item{
        position: relative;
        transform: translateX(-60%);
    }
    #partner-mb .center .item{
        transform: translateX(0%);
    }
    #partner-mb .center~.active .item{
        transform: translateX(60%);
    }
    #partner-mb .owl-stage{
        height: 90px;
        padding-top: 30px;
    }


}