.header-main, .header-bottom{
    background: rgba(255,255,255,.1);
    position: relative;
    top: 0;
    width: 100%;
}
.logo{
    width: 20%;
    object-fit: cover;
}
.header-main{
    z-index: 100;
}
.header-bottom{
    z-index: 99;
}
.my-breadcrumb{
    z-index: 90;
}
.wrap-search button, .wrap-search input{
    border: none;
}
.wrap-search button:focus,
.wrap-search input:focus{
    outline: none;
    box-shadow: none;
}
.wrap-search{
    position: relative;
    display: inline-block;
    width: 73%;
    margin-left: 5%;
}
.wrap-search input{
    background: rgba(255, 255, 255, 0.1);
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    padding-left: 60px;
    color: rgba(255,255,255,.5);
}
.wrap-search input::placeholder{
    color: rgba(255,255,255,.5);
}
.wrap-search button{
    position: absolute;
    background: none;
    color: rgba(255,255,255,.5);
    border-radius: 20px 0px 0px 20px;
    padding-left: 25px;
    padding-right: 10px;
    height: 100%;
}

.wrap-block-right>ul li{
    display: inline-block;
    font-size: 14px;
}
.result-img{
    padding: 5px;
    position: relative;
    top: 5px;
    display: inline-block;
}
.result-img img{
    display: inline-block;
    width: 24px;
    object-fit: cover;
}
.result-img i{
    position: relative;
    transition: all 0.4s;
    top: 3px;
}
.result-img:hover i{
    transform: rotateX(180deg);
}
.btn-title{
    display: inline-block;
    padding: 10px 8px;
    transition: all 0.4s;
    position: relative;
}
.btn-title .count{
    position: absolute;
    font-size: 12px;
    top: 0;
    left: 0;
    background: #FF6B20;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    z-index: 10;
    text-align: center;
    padding-top: 1px;
}
.btn-title:hover{
    color: rgba(255,255,255,.5);
}
.btn-title svg{
    position: relative;
    top: -3px;
}
.wrap-block-right ul li:nth-child(1),
.wrap-block-right ul li:nth-child(2),
.wrap-block-right ul li:nth-child(3){
    float: left;
}
.wrap-block-right .icon{
    padding: 10px;
    position: relative;
    top: 5px;
}
.wrap-language-menu{
    position: absolute;
    display: none;
    animation: toTop 0.4s;
    bottom: 0px;
    transform: translateY(100%);
    background: #fff;
    width: 150px;
    border-radius: 10px;
    right: 0;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.2);
    z-index: 10;
}
.wrap-language-menu ul li a{
    display: block;
    padding: 10px;
    color: #7D858F;
    transition: all 0.4s;
}
.wrap-language-menu ul li a:hover{
    color: #50C8EB;
}
.result-img:hover .wrap-language-menu{
    display: block;
}
@keyframes toTop {
    from{
        opacity: 0;
        bottom: -20px;
    }
    to{
        opacity: 1;
        bottom: 0;
    }
}
.btn-order{
    background: #2CB3DC;
    padding: 10px 5px!important;
    border-radius: 5px;
    transition: all 0.4s;
}
.btn-call{
    transition: all 0.4s;
    z-index: 99;
}
.btn-order:hover,
.btn-call:hover{
    color: rgba(255,255,255,.5);
}
.btn-order:hover::after{
    content: '';
    width: 0!important;
}
.bg-img{
    position: absolute;
    top: 0;
}
.bg-img img{
    /* width: 100%; */
    object-fit: cover;
    height: 100%;
}
.layer-0{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #065696 0%, rgba(83, 139, 201, 0.4) 101%);
}
.wrap-tab{
    position: relative;
    padding-left: 50px;
}
.wrap-tab .icon-search{
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    background: #EDEEEE;
    border-radius: 20px;
    padding: .5rem 1rem;
}
.wrap-tab .icon-search i{
    color: #7C848D;
}
.wrap-tab .nav-link{
    background: #EDEEEE;
    border-radius: 20px;
    color: #444f5e;
    margin-left: 10px;
    transition: all 0.4s;
}
.wrap-tab .nav-link:hover{
    color: #fff;
    background-color: #2ABCE7;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #2ABCE7;
}
.about-us .labo-step .bg::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -15px;
    height: 25px;
    width: 25px;
    background: #B9E6F3;
    border-radius: 50%;
    z-index: -1;
}

/*------------dark----------*/
.logo-scroll{
    display: none;
}
@media only screen and (min-width:991px){
    .headerScroll .gap-xs{
        display: none;
    }
    .headerScroll{
        position: fixed!important;
        width: 100%;
        z-index: 200;
        animation: headerscroll 1s;
        transform: translateY(0);
        background: #fff;
    }
    .headerScroll .logo-block{
        display: none;
    }
    .headerScroll .logo-scroll{
        display: inline-block;
    }
    .headerScroll .my-breadcrumb,
    .headerScroll .bg-img{
        display: none;
    }
    .headerScroll .btn-title,
    .headerScroll i,
    .headerScroll input::placeholder{
        color:  #444f5e;
    }
    .headerScroll .header-bottom .wrap-menu>ul li a{
        color:  #444f5e;
        padding-left: 5px;
        padding-right: 5px;
    }
    .headerScroll .header-bottom .wrap-menu>ul li a:hover{
        background: red;
        border-radius: 5px;
        background-color: #EBECED;
    }
    .headerScroll .wrap-menu>ul>li:last-child a{
        color: #fff;
    }
    .headerScroll svg{
        fill: #444f5e!important;
    }
    .headerScroll .btn-title .count{
        color: #fff;
    }
    .headerScroll .wrap-menu .active::after{
        content: '';
        background:#444f5e;
    }
    
    @keyframes headerscroll{
        from{
            transform: translateY(-30%);
            opacity: 0;
        }
        to{
            transform: translateY(0);
        }
    }
}

/*------------dark----------*/


@media only screen and (max-width:1150px) and (min-width:991px){
    .wrap-menu>ul li a {
        padding: 5px 5px 20px 5px;
    }
    .wrap-block-right>ul li {
        display: inline-block;
    }
    .wrap-block-right .icon {
        padding: 0;
        position: relative;
        top: 5px;
    }
    .result-img {
        padding: 0;
        position: relative;
        top: 5px;
        display: inline-block;
    }
    /* .my-breadcrumb ul{
        margin-bottom: 0;
    }
    .my-breadcrumb ul li a, .my-breadcrumb ul li i{
        padding: 15px 5px!important;
    } */
}
@media only screen and (max-width:991px){
    .logo{
        width: 85px;
    }
    .bg-top::after{
        content: '';
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.3);
    }
    .onTopMenu{
        overflow: hidden;
    }
    .bg-img{
        height: 100%;
    }
    .my-breadcrumb ul{
        margin: 0;
    }
    .my-breadcrumb ul li a,
    .my-breadcrumb ul li i{
        padding: 30px 5px!important;
    }
}