.title{
    font-size: 24px;
    font-weight: 600;  
    color: #444f5e; 
    font-family: Roboto-Bold;
}
.detail{
    font-size: 14px;
    color: #444f5e;
    transition: all 0.4s;
}
.detail:hover{
    opacity: 0.5;
    color: #444f5e;
}
.detail-mb{
    font-size: 14px;
    color: #2abce7;
    background-color: rgba(42,188,231,.1);
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    transition: all 0.4s;
}
.detail-mb i{
    margin-left: 5px;
}