.titledichvu{
    font-size: 32px;
}
.hinhthuclienhe{
    border: 1px solid #e5e5e5;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-width: 30px;
}
#image_lienhe{
    font-size: 50px;
    color: #666666;
}
.hinhthuclienhe a{
    color: black;
}
.hinhthuclienhe #noidung_lienhe{
    font-size: 14px;

}
#title_item{
    font-size: 20px;
}
#noidung_item{
    font-size: 14px;
   margin-bottom: 40px;
}
#noidung_item #theghino_dichvu{
    width: 116px;
    height: 72px;

}
#luuy_dichvu{
    font-size: 12px;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.titledichvu #diemthuong{
    width: 800px;
}
#noidung_item_diemthuong{
    color: red;
}
#noidung_lienhe{
    font-weight: bold;

}
.hinhthuclienhe #noidung_lienhe {
    font-size: 16px;
}
