.header{
    height: 144px;
}
.content-banner{
    width: 100%;
}
.wrap-content{
    z-index: 90;
}
.wrap-content .content h2{
    font-size: 36px;
}
.wrap-content .content h2{
    font-family: Roboto-Bold;
    text-transform: uppercase;
}
.wrap-content .content p{
    color: rgba(255,255,255,.7);
}
.content-banner .btn-more{
    background: #FF6B20;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.4s;
}
.dark-layer-0::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 99;
}
.dark-layer-0 img{
    height: 100%;
    object-fit: cover;
}
.content-banner .btn-more:hover{
    color: rgba(255,255,255,.5);
}
.wrap-slider .owl-dots{
    position: absolute;
    width: 80%;
    bottom: 150px;
    left: 10%;
}
.wrap-slider .owl-dots button{
    display: inline-block;
    width: 20px;
    height: 5px;
    background: rgba(255,255,255,0.5);
    margin: 5px ;
}
.wrap-slider .owl-dots button.active{
    display: inline-block;
    width: 20px;
    height: 5px;
    background: #FF6B20;
    margin: 5px ;
}
.img-wrap{
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 2px ;
    bottom: 0px;
    right: 0px;
    z-index: 0;
    transform: translate(-470px,-247px);
}
.img-wrap img{
    position: absolute;
    width: 300px!important;
    top: 0;
    right: 0;
    transform: translate(50%,-50%) ;
}
.btn-order{
    background: #2CB3DC;
    padding: 10px 5px!important;
    border-radius: 5px;
    transition: all 0.4s;
}
.btn-call{
    transition: all 0.4s;
    z-index: 99;
    position: relative;
}
.btn-order:hover,
.btn-call:hover{
    color: rgba(255,255,255,.5);
}
.btn-order:hover::after{
    content: '';
    width: 0!important;
}
.obj-bg-03{
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate( 50%, 50%);
    border-radius: 50%;
    background: rgba(255,255,255,.1);
    width:600px;
    z-index: -10;
}
.obj-bg-04{
    position: absolute;
    bottom: 0;
    right: 0%;
    transform: translate( 50%, 50%);
    border-radius: 50%;
    background: rgba(255,255,255,.1);
    width: 950px;
    z-index: -10;
}
.obj-bg-01{
    position: absolute;
    top: 290px;
    right: 1282px;
    background: #B9E6F3;
    transform: translate(50%, -50%);
    width: 1000px;
    z-index: 0;
    border-radius: 50%;
}
.obj-bg-02{
    position: absolute;
    top: -171px;
    right: 137px;
    background: #B9E6F3;
    transform: translate(100%, 0%);
    width: 800px;
    z-index: 0;
    border-radius: 50%;
}
.obj-bg-05{
    position: absolute;
    top: 0;
    right: -40%;
    background: #B9E6F3;
    transform: translate(0%,0%);
    width: 700px;
    z-index: 0;
    border-radius: 50%;
}
.obj-bg-06{
    position: absolute;
    top: -300px;
    left: -30%;
    background: #B9E6F3;
    transform: translate(0%,0%);
    width: 700px;
    z-index: 0;
    border-radius: 50%;
}
.obj-bg-07{
    position: absolute;
    top: 100px;
    right: -30%;
    background: #B9E6F3;
    transform: translate(0%,0%);
    width: 700px;
    z-index: 0;
    border-radius: 50%;
}

@media only screen and (max-width:991px){
    .img-wrap {
        position: absolute;
        bottom: 50%;
        right: 0px;
        transform: translate(0px,0px);
    }
}
/*------------------------------*/
.my-service{
    position: relative;
    overflow: hidden;
}
.my-service .item{
    border-radius: 20px;
    background: #fff;
    padding: 20px;
    height: 250px;
    position: relative;
    display: block;
    transition: all 0.4s;

    top: 0;
}
.my-service .content{
    position: absolute;
    bottom: 5px;
    font-size: 16px;
    color: #444f5e;
}
.my-service .item .img{
    position: relative;
    z-index: 10;
}

.my-service .item .bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background: #BEEBF8;
    border-radius: 50%;
    z-index: -1;
}
.my-service .item:hover{
    background-image: linear-gradient(#065696, #538bc9);
    color: #fff;
    top: -10px;
}
.my-service .item p{
    transition: all 0.4s;
    font-weight: 600;
}
.my-service .item:hover p{
    color: #fff;
}
.my-service .item:hover .bg{
    background: rgba(255,255,255,.1);
}

.my-service .item svg{
    fill: #444f5e;
    transition: all 0.4s;
}
.my-service .item:hover svg{
    fill: #fff;
}

.grid-cont{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    padding: 0px;
}
@media only screen and (max-width:991px){
    .grid-cont{
        grid-template-columns: auto auto;
        grid-gap: 30px;
        padding: 0px;
    }
}
@media only screen and (max-width:500px){
    .my-service .item{
        height: 200px;
    }
    .grid-cont{
        grid-template-columns: auto auto;
        grid-gap: 15px;
        padding: 0px 15px;
    }
    .fix-to-grid{
        padding-left: 0;
        padding-right: 0;
    }
}

/*------------*/
.about-us{
    background: #F7F7F7;
    font-size: 15px;
    overflow: hidden;
}
.about-us .box-slogan{
    padding-left: 100px;
    position: relative;
}
.about-us .box-slogan .more{
    display: block;
    color: #FF6B20;
}
.about-us .box-slogan .more i{
    position: relative;
    top: 1px;
}
.about-us .box-slogan .symbol{
    position: absolute;
    bottom: -120px;
    right: 30px;
}
.about-us video:focus{
    outline: none;
    border: none;
}
.about-us .labo-step{
    padding-left: 10px;
}
.about-us .labo-step .bg{
    position: relative;
    z-index:0;
    font-weight: 600;
}
.about-us .labo-step .bg::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -15px;
    height: 25px;
    width: 25px;
    background: #B9E6F3;
    border-radius: 50%;
    z-index: -1;
}

/*-----------------------*/

@media only screen and (max-width:991px){
    .wrap-tab {
        position: relative;
        padding-left: 0px!important;
    }
    .wrap-tab .icon-search {
        position: relative!important;
        padding: 0px 5px!important;
        margin-bottom: 5px;
    }
    .wrap-tab .icon-search i{
        font-size: 12px;
    }
    .wrap-tab .nav-link{
        display: inline-block;
        margin-left: 5px!important;
        padding: 5px!important;
        font-size: 11px!important;
        margin-bottom: 5px;
    }
}
/*--------*/
.box-time{
    position: relative;
    z-index: 1;
    padding-left: 20px;
    display: inline-block;
    margin-right: 15px;
}
.box-time:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background: #B9E6F3;
    z-index: -1;
    border-radius: 50%;
}

/*-----------------*/
.wrap-tab{
    position: relative;
    padding-left: 50px;
}
.wrap-tab .icon-search{
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    background: #EDEEEE;
    border-radius: 20px;
    padding: .5rem 1rem;
}
.wrap-tab .icon-search i{
    color: #7C848D;
}
.wrap-tab .nav-link{
    background: #EDEEEE;
    border-radius: 20px;
    color: #444f5e;
    margin-left: 10px;
    transition: all 0.4s;
}
.wrap-tab .nav-link:hover{
    color: #fff;
    background-color: #2ABCE7;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #2ABCE7;
}

/*-----------*/

/*--------------------*/
.edit-product-item{
    height: 330px;
    position: relative;
    top: 0;
}
.edit-product-item:hover{
    top: -10px;
}
.footer-1{
    background: #7f7f7f;
}
.fa-facebook-square{
    color: #00007f;
}
.fa-youtube{
    color: red;
    margin-top: 15px;
}
.fa-instagram{
    color: #7f003f;
    margin-top: 15px;
}
.footer-1 .d-lg-block a{
    color: white;
    font-size: 15px;
}

.wrap-search .input{
    background: rgba(68,68,68,0.002);
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    padding-left: 60px;
    color: rgba(68,68,68,.5);
}
.wrap-search input::placeholder{
    color: rgba(68,68,68,.5);
}
.thanhtoan1{
    margin-top: 15px;
}
.thanhtoan2{
    margin-top: 10px;
}
#giaohangtietkiem{
    width: 63px;
    height: 41px;
}
#giaohangnhanh{
    width: 54px;
    height: 33px;
    border-radius: 2px;
}
#giaohangjvatexpress{
    width: 54px;
    height: 33px;
    border-radius: 2px;
    margin-left: 3px;
}
#chungnhan1{
    width: 38px;
    height: 36px;
}
#chungnhan2{
    width: 86px;
    height: 33px;
}