# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\LTWEB\Web_CuoiKy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
