body {
    color: #fff;
    background: white;
}

.form-control {
    min-height: 41px;
    background: #f2f2f2;

    border: 1px solid grey;
}

.form-control:focus {
    background: #e2e2e2;
}

.form-control, .btn {
    border-radius: 2px;
}

.login-form {
    width: 350px;
    margin: 30px auto;
    text-align: center;

}

.login-form h2 {
    margin: 10px 0 25px;
}

.login-form form {
    color: #7a7a7a;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 398px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(128, 111, 111, 0.3);
    padding: 30px;
    background: linear-gradient(to right bottom, white, #e5e5e5);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.login-form .btn {
    font-size: 16px;
    font-weight: bold;
    border-radius: 42px;
    background: #F7941D;
    border: none;
    outline: none !important;
}

.login-form .btn:hover, .login-form .btn:focus {
    background: black;
}

.login-form a {
    color: black;
    text-decoration: underline;
}

.login-form a:hover {
    text-decoration: none;
}

.login-form form a {
    color: #7a7a7a;
    text-decoration: none;
}

.login-form form a:hover {
    text-decoration: underline;
}

.form-group {
    font-size: 18px;
}

.small a:hover {
    color: #F7941D;
}

.form_signup a:hover {
    color: #F7941D;
}